body{
    background: black
}
.bg-img{
    margin: -100px;
    background-image: url('../img/bg1.jpg');
    min-height: 700px;
    background-position: center;
    background-size: cover;
    filter: brightness(50%);
}
.yu-navbar{
    height: 100px;
    padding: 0 10%;
    z-index: 10000; 
}
.yu-nav-active {
    height: auto;
    padding: 15px 10%;
    background: #17181a;
    font-size: 16px;
    width: 100%;

}
#home {
    position: absolute;
    top: 0;
    width: 100%;
}

#home h1,
#home h5 {
    width: 100%;
    text-align: center;
    position: absolute;
}

#home h1 {
    top: 350px;
    font-size: 3.2em;
}

@media (max-width:800px) {
    #home h1 {
        top: 310px;
        font-size: 3em;
    }
}

#home h1 .name {
    animation: tracking-in-expand 1.5s alternate infinite;
}

#home h5 {
    top: 250px;
    font-size: 2em;
}
#about{
    min-height: 600px;
    padding-top: 100px;
}
#about2{
    padding-top: 100px;
    background-image: url('../img/b4.jpg');
    height: auto;
    width: 100000px;
    position: relative;
    background-repeat: no-repeat;
}
#service{
    min-height: 600px;
    padding-top: 100px;
}
.srvc{
    text-align: center
}
#service2{
    background-image: url('../img/b3.jpg');
    width: 100000px;
    height: auto;
    position: relative;
    background-repeat: no-repeat;
}
#fortopolio{
    min-height: 700px;
    padding-top: 100px;
}
.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }
  #testimonial{
    min-height: 700px;
    padding-top: 100px;
}